<section class="container">
  <header class="editor-header">
    <div class="row justify-content-between">
      <div class="col-4">
        <select class="form-control pull-left lang-select" name="language" [(ngModel)]="language" (change)="setLanguage(language)">
          <option *ngFor="let language of languages" [value]="language">
            {{language}}
          </option>
        </select>
      </div>
​
    <!-- reset button -->
    <!-- Button trigger modal -->

      <ng-template #resetModel let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Reset to default code definition</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to reset your code?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="d('Cancel click')">Cancel</button>
          <button type="button" class="btn btn-outline-danger" (click)="c('Reset')">Reset</button>
        </div>
      </ng-template>
      <div class="col-1">
        <button type="button" class="btn btn-outline-danger" (click)="open(resetModel)">
          <i class="fas fa-reply-all"></i>
        </button>
      </div>  
    </div>
  </header>

  <div class="row">
      <div id="editor"></div>
  </div>
​
  <div>
    {{ output }}
  </div>
​
  <footer class="editor-footer">
    <button type="button" class="btn btn-success pull-right" (click)="submit()">Submit Solution</button>
  </footer>
</section>
