<div class="container">
  <app-new-problem></app-new-problem>
  <table class="table table-striped table-hover">
      <thead>
        <tr >
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Acceptance</th>
          <th scope="col">Difficulty</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let problem of problems">
          <th scope="row">{{problem.id}}</th>
          <td><a [routerLink]="['/problems', problem.id]">{{problem.name}}</a></td>
          <td>{{problem.acceptance * 100 + '%'}}</td>
          <td><span class="badge badge-pill badge-secondary diff-text {{'diff-' + problem.difficulty.toLowerCase()}}">{{problem.difficulty}}</span></td>      
        </tr>
      </tbody>
    </table>
</div>