<div class="container">
  <table class="table table-striped table-hover">
      <thead>
        <tr >
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Acceptance</th>
          <th scope="col">Difficulty</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let problem of problems | search: searchTerm ">
          <th scope="row">{{problem.id}}</th>
          <td><a [routerLink]="['/problems', problem.id]">{{problem.name}}</a></td>
          <td>{{problem.acceptance | percent }}</td>
          <td><span class="badge badge-pill badge-secondary diff-text {{'diff-' + problem.difficulty.toLowerCase()}}">{{ problem.difficulty }}</span></td>      
        </tr>
      </tbody>
    </table>
</div>